body {
  background-color: black;
  color: #FFDDAA;
}

#gamebox {
  text-align: center;
  width: 100%;
  margin-bottom: 1em;
}

img {
  width: 50%;
  display: none;
  margin-left: 25%;
}

table {

}

td {
  width: 1em;
  height: 1em;
  background-color: #0000FF;
}