:root {
  --green: #88ff99;
  --dkgrn: #005511;
  --dkred: #551100; 
}

body {
  background-color: black;
  color: var(--green);
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
}

#infobox p {
  padding: 1em;
  text-align: left;
}

select {
  background-color: black;
  border: 2px solid var(--green);
  color: var(--green);
  padding: 1em;
  font-family:'Courier New', Courier, monospace;
  font-size: x-large;
  font-weight: bold;
  float:left;
  margin: 1em;
}

#infobox table {
  border: 2px solid var(--green);
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  border-collapse: collapse;
}

#infobox td {
  padding: 5px;
}

th {
  border: 2px solid var(--green);
  background-color: var(--dkgrn);
  font-size: xx-large;
  padding: 10px;
}

.true {
  background-color: var(--dkgrn);
}

.false {
  background-color: var(--dkred);
}

.in1 {
  border: 2px solid palegoldenrod;
  color: palegoldenrod;
}

.in1H {
  background-color: palegoldenrod;
  color: black;
}

.in2 {
  border: 2px solid paleturquoise;
  color: paleturquoise;
}

.in2H {
  background-color: paleturquoise;
  color: black;
}

.result {
  border: 2px solid white;
  color: white;
}

.resultH {
  background-color: white;
  color: black;
}

#seldesc {
  display: inline-block;
  border: 5px solid var(--green);
  padding-right: 1em;
  margin: 1em;
}

#truthtable {
  margin-bottom: 1em;
}

#truthtablenot {
  display: none;
  width: 20%;
  margin-bottom: 1em;
}

#gamebox {
  border: 3px solid var(--green);
  width: 40em;
  margin-left: auto;
  margin-right: auto;
}

#game {
  width: 100%;
}

#gamenot {
  display: none;
  width: 100%;
}

#gamegate {
  width: 2em;
}

.gamebutton {
  display: inline-block;
  border-radius: 10%;
  padding: 1em;
  margin-top: -10px;
  cursor: pointer;
  width: 4em;
}

#gamebutton1, #gamebutton3 {
  border: 5px solid palegoldenrod;
  color: palegoldenrod;
}

#gamebutton2 {
  border: 5px solid paleturquoise;
  color: paleturquoise;
}

#resultbutton, #resultbuttonnot {
  border: 5px solid white;
  color: white;
}

#scroll {
  display: inline-block;
  height: 20em;
}

#boundingtable {
  border: none !important;
}